<div>
	<div class="login">
		<!-- <div class="container"> -->
			<div class="row m-0">
				<div class="col-md-6 p-0">
					<div class="Welcome">
					   <div class="nityamit-img">
						  <img src="../../../assets/images/nityamitlogo.png">
					   </div>
					  <div class="text-Service">
						  <h2>Your
						  <p>All Service</p>
					      <span>In one field....</span></h2>
					  </div>
					</div>
				</div>

				<div class="col-md-6 Password">
					<div class="Signin mb-5">
						<h2>Admin Signin</h2>
						<p>Welcome back login to your panel.</p>
					</div>
					<form class="mb-lg" [formGroup]="loginform" (ngSubmit)="login()">
					<div class="from">
						<div class="email">
							<label>Your email</label>
						    <input type="text" formControlName="userName" placeholder="">
							<p>
								<span class="text-danger"  *ngIf="!loginform.get('userName')?.value && formSubmitted">
								  Enter your email or phonenumber
								</span>
							   
								<!-- <span class="text-danger"  *ngIf="loginform.get('userName')?.errors?.email">Email must be a valid email address</span> -->
							  </p>
						</div>
						<div class="email">
							<label>Password</label>
						    <input formControlName="password" type="password" placeholder="">
							<p>
								<span class="text-danger"  *ngIf="!loginform.get('password')?.value && formSubmitted">
								  Enter your password
								</span>
							  </p>
						</div>
						<div class="login-btn">
							<button>
								login
							</button>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>