
<div  class="Dashboard">
	<div class="row m-0">
<div class="col-md-3 ps-0 sidebar">
    <div class="d-flex  align-items-center justify-content-between">
        <div class="all">
           
            <img class="profile-img" src="assets/images/nityamitlogo.png" alt="profile" />
            <img class="avatar-img" src="../../../assets/images/nityamitlogo.png" alt="">
        </div>
        <div class="icon">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
    </div>
    <div class="menu-ber">
        <div class="Reports">
            <div class="from">
                <input type="text" name="" value placeholder="Search Menu...">
            </div>

            <div class="board">
                <i class="fa-solid fa-house"></i>
                <a href="#">Dashboard</a>
            </div>
            <div class="section">
                <h4>Pos section</h4>
                <ul>
                    <li>
                        <i class="fa-solid fa-basket-shopping"></i>
                        <a href="#">New Sale</a>
                    </li>
                </ul>
            </div>
            <div class="section">
                <h4>Order management</h4>
                <ul>
                    <li>
                        <i class="fa-solid fa-cart-shopping"></i>
                        <a href="/orderlist">Order</a>
                        <span><i class="fa-solid fa-chevron-down"></i></span>
                        <ul class="submenu">
                            <li>
                                <a href="/orderlist">All</a>
                            </li>
                            <li>
                                <a href="#">scheduled</a>
                            </li>
                            <li>
                                <a href="#">pending</a>
                            </li>
                            <li>
                                <a href="#">accepted</a>
                            </li>
                            <li>
                                <a href="#">processing</a>
                            </li>
                            <li>
                                <a href="#">order on the way</a>
                            </li>
                            <li>
                                <a href="#">delivered</a>
                            </li>
                            <li>
                                <a href="#">canceled</a>
                            </li>
                            <li>
                                <a href="#">payment failed</a>
                            </li>
                            <li>
                                <a href="#">refunded</a>
                            </li>
                            <li>
                                <a href="#">offline payments</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <i class="fa-solid fa-receipt"></i>
                        <a href="#">Order Refunds</a>
                        <span><i class="fa-solid fa-chevron-down"></i></span>
                        <ul class="submenu">
                            <li>
                                <a href="#">refund requests</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Flash sales</a>
                    </li>
                </ul>
            </div>
            <!-- <div class="section">
                <h4>Promotion Management</h4>
                <ul>
                    <li>
                        <i class="fa-solid fa-layer-group"></i>
                        <a href="#">Campaigns</a>
                        <span><i class="fa-solid fa-chevron-down"></i></span>
                        <ul class="submenu">
                            <li>
                                <a href="#">Basic campaigns</a>
                            </li>
                            <li>
                                <a href="#">Item campaigns</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <i class="fa-regular fa-image"></i>
                        <a href="#">Banners</a>
                    </li>
                    <li>
                        <i class="fa-regular fa-image"></i>
                        <a href="#">Other banners</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-gift"></i>
                        <a href="#">Coupons</a>
                    </li>
                    <li>
                        <a href="#">Cashback</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-bell"></i>
                        <a href="#">Push notification</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-tv"></i>
                        <a href="#">Advertisement</a>
                        <span><i class="fa-solid fa-chevron-down"></i></span>
                        <ul class="submenu">
                            <li>
                                <a href="#">New Advertisement</a>
                            </li>
                            <li>
                                <a href="#">Ad Requests</a>
                            </li>
                            <li>
                                <a href="#">Ads list</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> -->
            <div class="section">
                <h4>Product management</h4>
                <ul>
                    <li>
                        <a href="#">Categories</a>
                        <span><i class="fa-solid fa-chevron-down"></i></span>
                        <ul class="submenu">
                            <li>
                                <a href="#">Category</a>
                            </li>
                            <li>
                                <a href="#">Sub category</a>
                            </li>
                            <li>
                                <a href="#">Bulk import</a>
                            </li>
                            <li>
                                <a href="#">Bulk export</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Attributes</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-ruler"></i>
                        <a href="#">Units</a>
                    </li>
                    <li>
                        <a href="/productlist">Product Setup</a>
                        <span><i class="fa-solid fa-chevron-down"></i></span>
                        <ul class="submenu">
                            <li>
                                <a href="#">Add new</a>
                            </li>
                            <li>
                                <a href="#">List</a>
                            </li>
                            <li>
                                <a href="#">Low Stock List</a>
                            </li>
                            <li>
                                <a href="#">Product Gallery</a>
                            </li>
                            <li>
                                <a href="#">New Item Request</a>
                            </li>
                            <li>
                                <a href="#">Review</a>
                            </li>
                            <li>
                                <a href="#">Bulk import</a>
                            </li>
                            <li>
                                <a href="#">Bulk export</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- <div class="section">
                <h4>Store management</h4>
                <ul>
                    <li>
                        <i class="fa-solid fa-calendar-days"></i>
                        <a href="#">New stores</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-circle-plus"></i>
                        <a href="#">Add store</a>
                    </li>
                    <li>
                        <a href="#">Stores List</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-fire-flame-curved"></i>
                        <a href="#">Recommended Store</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-upload"></i>
                        <a href="#">Bulk import</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-download"></i>
                        <a href="#">Bulk export</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</div>


<div class="Management col-md-9 Users">
    <div class="heder">
        <ul class="d-flex align-items-center">
            <li>
                <div class="icon mobile_icon d-block d-md-none">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
            </li>
            <li>
                <a href="#">
                    <i class="fa-regular fa-user"></i>
                    <span>Users</span>
                </a>
            </li>
            <li>
                <a href="#"><span>Transactions & Reports</span></a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-gear"></i><span>Settings</span><i
                        class="fa-solid fa-angle-down"></i></a>
            </li>
            <li>
                <a href="#"><span>Dispatch Management</span></a>
            </li>
        </ul>
    </div>
    
<router-outlet></router-outlet>
</div>
</div>
</div>
<script>
    $(document).ready(function(){
          $(".section").click(function(){
             $('.submenu').slideToggle();
        });
           $(".icon i").click(function(){
             $('.sidebar').toggleClass("collapse_sidebar");
             $('.Management').toggleClass("remove_space");
        });
           $(".mobile_icon i").click(function(){
             $('.sidebar').addClass("mobile_sidebar");
        }); 
           $(window).scroll(function(){
             if ($(this).scrollTop() > 50) {
                $('header').addClass('fixed_header');
             } else {
                $('header').removeClass('fixed_header');
             }
         });
     });
</script>
