<div class="category">
    <div class="new d-flex align-items-center">
      <div class="new-img">
          <img src="../../../assets/images/Items.png">
      </div>
     <div class="new-text">
          <h4>Product list </h4>
     </div>
     <div class="Item-5">
        <!-- <h4>56</h4> -->
     </div>
   </div>
  
 <!-- <div class="English mb-3">
     <div class="Default">
        <ul>
         <li>
           <a href="#">Default</a>
         </li>
         <li>
           <a href="#">English(EN)</a>
         </li>
         <li>
            <a href="#">Arabic - العربية(AR)</a>
         </li>
       </ul>
      </div>
     <div class="row ">  
       <div class="col-md-6">
               <div class="from-1">
                 <label>Name (Default)</label>
                 <input type="text" name="" value="" class="" placeholder="New category">
               </div>
       </div>
       <div class="col-md-6">
        <div class="upload-img">
           <img src="image/upload-img.png">
        </div>
        <div class="upload-btn  p-4">
           <div class="reset-btn">
              <a href="#">Reset</a>
           </div>
           <div class="add-btn">
              <a href="#">Add</a>
           </div>
        </div>
       </div>
     </div>
</div> -->
<!-- <div class="card ">

         <div class="card-body p-4">
             <div class="row">
                 <div class="Store-text">
                    <h3>Search data</h3>
                 </div>
                <div class="col-md-3 form-0">
                   <input type="text" name=""  placeholder="All stores" value="">
                </div>
                <div class="col-md-3 form-0">
                   <input type="text" name=""  placeholder="All Zones" value="">
                </div>
                <div class="col-md-3 form-0">
                   <input type="text" name=""  placeholder="All category" value="">
                </div>
                <div class="col-md-3 form-0">
                   <input type="text" name=""  placeholder="All sub category" value="">
                </div>
           </div>
     </div>
 </div> -->
</div> 
 <div class="English">
    <div class="Category-list">
     <div class="list">
        <!-- <h5>
           Product list
                  <span>15</span>
        </h5> -->
     </div>
     <div class="Category-Search">
        <div class="email-1">
                <input type="emali" name="" value="" placeholder="Search categories">
             </div>
             <div class="go">
                 <button><i class="fa-solid fa-magnifying-glass"></i></button>
              </div>
     </div>
     <div class="Category-btn">
        <button>
           <a href="/productsetup">Add</a>
        </button>
     </div>
    </div>
    <div class="list-table">
     <table class="table table-borderless" style="padding: 5px;">
      <thead class="thead-light">

         <tr class="table-light" role="row">
                  <th class="table-column-pl-0 border-0 sorting">SI</th>                 
                  <th class="table-column-pl-0 border-0 sorting">Name</th>
                  <th class="table-column-pl-0 border-0 sorting">Unit</th>
                  <th class="table-column-pl-0 border-0 sorting">Category</th>
                  <th class="table-column-pl-0 border-0 sorting">Price</th>
                  <th class="table-column-pl-0 border-0 sorting">Discount</th>
                  <th class="table-column-pl-0 border-0 sorting"> Quantity</th>
                  <!-- <th>Status</th>                   -->
                  <th class="table-column-pl-0 border-0 sorting">Action</th>
              </tr>
      </thead>
      <tbody>
               <tr *ngFor="let c of productlist ; let i=index;"   class="status-delivered class-all odd" role="row">
                  <td> {{i+1}}</td>
                  <td>{{c.productName}}</td>
                  <td>{{c.unitName}}</td>
                  <td>
                    {{c.category}}
                 </td>
                 <td>{{c.price}}</td>
                 <td>{{c.discount}}</td>
                 <td>{{c.discount}}</td>
                
                  <!-- <td>
                      <div class="form-check form-switch">
                         <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="yes" checked>
                         <label class="form-check-label" for="mySwitch"></label>
                       </div>
                  </td>
                  <td>
                    <div class="form-check form-switch">
                         <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="yes" checked>
                         <label class="form-check-label" for="mySwitch"></label>
                       </div>
                  </td> -->
               
                  <td>
                    <div class="btn-flex">
                       <div class="icon-btn">
                          <a href="#"><i class="fa-solid fa-pen"></i></a>
                       </div>
                       <div class="icon-btn-1">
                          <a href="#"><i class="fa-solid fa-trash"></i></a>
                       </div>
                     </div>
                  </td>
               </tr>
      </tbody>
            </table>
    </div>
  </div>