<div class="Grocery">
    <div class="row">
           <div class="col-md-6">
                 <div class="Manage d-flex">
                      <div class="Manage-img">
                              <img src="image/Grocery.png">
                      </div>
                      <div class="Manage-text">
                              <h4>Grocery Dashboard.</h4>
                               <p>Hello Here You Can Manage Your Grocery Orders by Zone.</p>
                      </div>
                </div>
            </div>
           <div class="col-md-6">
               <div class="col-md-6">
                 <div class="Zone">
                      <input type="text" name="" value placeholder="All Zones">
                </div>
             </div>
          </div>
  </div>
</div>
<div class="Newly">
   <div class="container">
          <div class="row">
                 <div class="col-md-3">
                        <div class="Items">
                        <div class="Items-img">
                                  <img src="image/Items.png">
                        </div>
                         <h6>Items</h6>
                         <h3>56</h3>
                         <p>0 Newly added</p>
                  </div>
                 </div>
                 <div class="col-md-3">
                         <div class="Items">
                           <div class="Items-img">
                                   <img src="image/Items.png">
                           </div>
                           <h6>Orders</h6>
                           <h3>30</h3>
                           <p>0 Newly added</p>
                   </div>
                 </div>
                 <div class="col-md-3">
                        <div class="Items">
                       <div class="Items-img">
                               <img src="image/Items.png">
                       </div>
                       <h6>Grocery Stores</h6>
                       <h3>15</h3>
                       <p>0 Newly added</p>
                 </div>
                 </div>
                 <div class="col-md-3">
                        <div class="Items">
                       <div class="Items-img">
                               <img src="image/Items.png">
                       </div>
                       <h6>Customers</h6>
                       <h3>24</h3>
                       <p>4 Newly added</p>
                 </div>
                 </div>
      </div>
</div>
</div>
<!--  <div class="Newly">
   <div class="container">
          <div class="row">
                 <div class="col-md-3">
                        <div class="Items">
                        <div class="Items-img">
                                  <img src="image/Items.png">
                        </div>
                         <h6>Items</h6>
                         <h3>56</h3>
                         <p>0 Newly added</p>
                  </div>
                 </div>
                 <div class="col-md-3">
                         <div class="Items">
                           <div class="Items-img">
                                   <img src="image/Items.png">
                           </div>
                           <h6>Orders</h6>
                           <h3>30</h3>
                           <p>0 Newly added</p>
                   </div>
                 </div>
                 <div class="col-md-3">
                        <div class="Items">
                       <div class="Items-img">
                               <img src="image/Items.png">
                       </div>
                       <h6>Grocery Stores</h6>
                       <h3>15</h3>
                       <p>0 Newly added</p>
                 </div>
                 </div>
                 <div class="col-md-3">
                        <div class="Items">
                       <div class="Items-img">
                               <img src="image/Items.png">
                       </div>
                       <h6>Customers</h6>
                       <h3>24</h3>
                       <p>4 Newly added</p>
                 </div>
                 </div>
      </div>
</div>
</div>
<div class="Newly">
   <div class="container">
          <div class="row">
                 <div class="col-md-3">
                        <div class="Items">
                        <div class="Items-img">
                                  <img src="image/Items.png">
                        </div>
                         <h6>Items</h6>
                         <h3>56</h3>
                         <p>0 Newly added</p>
                  </div>
                 </div>
                 <div class="col-md-3">
                         <div class="Items">
                           <div class="Items-img">
                                   <img src="image/Items.png">
                           </div>
                           <h6>Orders</h6>
                           <h3>30</h3>
                           <p>0 Newly added</p>
                   </div>
                 </div>
                 <div class="col-md-3">
                        <div class="Items">
                       <div class="Items-img">
                               <img src="image/Items.png">
                       </div>
                       <h6>Grocery Stores</h6>
                       <h3>15</h3>
                       <p>0 Newly added</p>
                 </div>
                 </div>
                 <div class="col-md-3">
                        <div class="Items">
                       <div class="Items-img">
                               <img src="image/Items.png">
                       </div>
                       <h6>Customers</h6>
                       <h3>24</h3>
                       <p>4 Newly added</p>
                 </div>
                 </div>
      </div>
</div> -->

<div class="Accepted">
 <div class="container">
        <div class="row Delivery">
          <div class="col-md-3">
               <div class="orders">
                     <div class="orders-img">
                           <img src="image/Items.png">
                     </div>
                     <div class="Unassigned">
                          <p>Unassigned orders</p>
                                   </div>
                     <div class="number">
                          <h4>17</h4>
                     </div>
               </div>
          </div>
          <div class="col-md-3">
                <div class="orders">
                     <div class="orders-img">
                           <img src="image/Items.png">
                     </div>
                     <div class="Unassigned">
                        <p>Accepted by Delivery Man</p>
                     </div>
                     <div class="number">
                          <h4>0</h4>
                     </div>
                </div>
          </div>
          <div class="col-md-3">
               <div class="orders">
                     <div class="orders-img">
                           <img src="image/Items.png">
                     </div>
                     <div class="Unassigned">
                          <p>Packaging</p>
                     </div>
                     <div class="number">
                          <h4>6</h4>
                     </div>
               </div>
          </div>
          <div class="col-md-3">
               <div class="orders">
                     <div class="orders-img">
                           <img src="image/Items.png">
                     </div>
                     <div class="Unassigned">
                          <p>Out for Delivery</p>
                     </div>
                     <div class="number">
                          <h4>0</h4>
                     </div>
               </div>
          </div>
          <div class="col-md-3">
               <div class="orders">
                     <div class="orders-img">
                           <img src="image/Items.png">
                     </div>
                     <div class="Unassigned">
                          <p>Delivered</p>
                     </div>
                     <div class="number">
                          <h4>9</h4>
                     </div>
               </div>
          </div>
          <div class="col-md-3">
               <div class="orders">
                     <div class="orders-img">
                           <img src="image/Items.png">
                     </div>
                     <div class="Unassigned">
                          <p>Canceled</p>
                     </div>
                     <div class="number">
                          <h4>1</h4>
                     </div>
               </div>
          </div>
          <div class="col-md-3">
               <div class="orders">
                     <div class="orders-img">
                           <img src="image/Items.png">
                     </div>
                     <div class="Unassigned">
                          <p>Refunded</p>
                     </div>
                     <div class="number">
                          <h4>0</h4>
                     </div>
               </div>
         </div>
         <div class="col-md-3">
              <div class="orders">
                    <div class="orders-img">
                          <img src="image/Items.png">
                    </div>
                    <div class="Unassigned">
                         <p>Payment failed</p>
                    </div>
                    <div class="number">
                         <h4>1</h4>
                    </div>
              </div>
         </div>
     </div> 
</div>
</div>